<% @title = "Editing list" %>
<% form_for(:list, :url => admin_list_path(@list), :html => {:method => 'put'}) do |f| %>
	<p>
		<%= render :partial => 'fields', :locals => {:f => f} %>
		<span id="submit"><%= submit_tag "Update List" %></span>
	</p>
<% end %>

<%= link_to 'Show', admin_list_path(@list) %> |
<%= link_to 'Back', admin_lists_path %>