<%= error_messages_for :label_type %>

<% form_for(:label_type, :url => path, :html => {:method => method}) do |f| %>
  <p>
	<%= f.hidden_field(:type_virtual) %>
	HRID: <%= f.text_field :hrid %><br />
	Value Pattern: <%= f.text_field :value_pattern %><br />
	<%= submit_tag button_text %>
  </p>
<% end %>