<h1>Editing <%= @label_type.class%></h1>

<%= render :partial => 'form',
  :locals => {
    :path => label_type_path(@label_type),
    :method => :put,
    :button_text => 'Update'
  } %>

<%= link_to 'Show', label_type_path(@label_type) %> |
<%= link_to 'Cancel', label_types_path %>