<h1>New label_type</h1>
<%= error_messages_for :label_type %>

<% form_for(:label_type, :url => label_types_path) do |f| %>
  <p>
Type: <%= f.select(:type_virtual, [["Text", "TextLabelType"], ["Number", "NumberLabelType"], ["Date", "DateLabelType"]]) %>
HRID: <%= f.text_field :hrid %><br />
<%= submit_tag "Create" %>
<br />
  </p>
<% end %>

<%= link_to 'Back', label_types_path %>