<h1>New <%= @label_type.class%></h1>

<%= render :partial => 'form',
  :locals => {
    :path => label_types_path,
    :method => :post,
    :button_text => 'Create'
  } %>

<%= link_to 'Cancel', label_types_path %>