<%= error_messages_for :object_type, :label %>

<% form_for(:object_type, :url => path, :html => {:method => method}) do |f| %>

<%= render :partial => "share/name_field" %>

<%= f.hidden_field :type_virtual %>
<label for="hrid">HRID:</label><%= f.text_field :hrid %>

<p>
    <%= submit_tag button_text %>
</p>
<% end %>
