<%= error_messages_for :label_type_desc %>

<% form_for(:label_type_desc, :url => path, :html => {:method => method}) do |f| %>

  Value: <%= f.text_field :value %><br />
  Language: <%= f.select(:language_id, @languages) %>
  <p>
    <%= submit_tag button_text %>
  </p>
<% end %>