<% form_for(:label, :url => path, :html => {:method => method}) do |f| %>

    <%= f.hidden_field :label_type_id%>
		<%= f.hidden_field(:type) %>
		Value: <%= f.text_field :value %><br />

  <p>
    <%= submit_tag button_text %>
  </p>

<% end %>