<h1>New Label</h1>
<%= error_messages_for :item %>

<%= render :partial => "#{@label.class.to_s.underscore}_form",
  :locals => {
    :path => item_labels_path(@item),
    :method => :post,
    :button_text => 'Create'
  } %>

<%= link_to 'Cancel', item_labels_path(@item) %>