<p>
  <b>Name:</b>
  <%=h @website.name %>
</p>

<p>
  <b>Domain:</b>
  <%=h @website.domain %>
</p>

<p>
  <b>Prefix:</b>
  <%=h @website.prefix %>
</p>


<%= link_to 'Edit', edit_admin_website_path(@website) %> |
<%= link_to 'OK', admin_websites_path %>