<form id="website_control">
	<% if session[:website] %>
		<%= check_box_tag :show_all_websites, true, false %><label for="show_all_websites">Show all websites</label>
		<%= select_tag :website_id, options_from_collection_for_select(Website.find(:all, :select => 'id, name'), :id, :name, session[:website].to_i) %>
	<% else %>
		<%= check_box_tag :show_all_websites, {true, false}, checked=true %><label for="show_all_websites">Show all websites</label>
		<%= select_tag :website_id, options_from_collection_for_select(Website.find(:all, :select => 'id, name'), :id, :name, session[:website].to_i), :style => 'display:none' %>
	<% end %>
</form>
