<h1>New label</h1>
<%= error_messages_for :label %>

<% form_for(:label, :url => labels_path(@label_type)) do |f| %>
		<%= f.hidden_field(:type) %>
	HRID: <%= f.text_field :hrid %><br />
	DateValue: <%= f.date_select :datevalue %><br />
	NumberValue: <%= f.text_field :numbervalue %><br />
  <p>
    <%= submit_tag "Create" %>
  </p>
<% end %>

<%= link_to 'Cancel', labels_path(@label_type) %>