<h2>Label: <%=h @label.hrid %> [<%=h @label.label_type.hrid %>]</h2>
<% if @label.label_descs.count != 0 -%>
	<h3>Descriptions:</h3>
	<table>
	  <% @label.label_descs.each { |l| -%>
	  <tr>
	    <td><%=h l.language.abbr %></td>
	    <td><%=h l.value %></td>
	  </tr>
	  <% } -%>
	</table>
<% end -%>

<%= link_to 'Save', :action => 'edit', :id => @label %> |
<%= link_to 'Back', :action => 'list' %>
