/******** GENERAL *********************/
body {
    direction: ltr;
    width:946px;
    margin:0 auto;
    font:normal normal 13px sans-serif;
}
a, a:visited{
    color:#186BE5;
    text-decoration:none;
}
a:hover{
    text-decoration:underline;
}
.left {
    float:left;
}
.right {
    float:right;
}
strong{
    font-weight:bold;
}
#header{
    position:relative;
    height:99px;
    width:946px;
    background-color:#f9f9f9;
}
#nav-empty{
    height:6px;
    background-color:#c5c6cb;
    font-size:1px;
    line-height:1px;
    width:100%;
}
#nav{
    height:51px;
    line-height:51px;
    margin:0 0 15px;
    padding:0 6px;
    text-align:center;
    background:#787A7E url(/images/rusmain/nav-gradient.gif) repeat-x 0 0;
    position:relative;
    font-weight:bold;
    z-index: 99;
}
#nav .left-ear, #nav .right-ear{
    position:absolute;
    top:0;
    width:5px;
    height:51px;
    background:#c5c6cb url(/images/rusmain/nav-ears.gif) no-repeat 0 0;
}
#nav .left-ear{
    left:0;
}
#nav .right-ear{
    background-position: -5px 0;
    right:0;
}
#nav a, #nav a:visited, #nav a:hover{
    color:#485458;
}
#footer{
    height:20px;
    border:1px solid black;
    clear:both;
    margin:10px 0 0;
}
.side-box-top{
    background:#b1c385 url(/images/rusmain/box-top-gradient.gif) repeat-x 0 0;
    height:25px;
    position:relative;
    line-height:24px;
    padding:0 6px;
    color:black;
    font-weight:bold;
}
.side-box-top .left-ear, .side-box-top .right-ear,
.mid-box-top .left-ear, .mid-box-top .right-ear{
    position:absolute;
    top:0;
    width:6px;
    height:25px;
    background:#b1c385 url(/images/rusmain/box-top-ears.gif) no-repeat 0 0;
}
.side-box-top .left-ear{
    left:0;
}
.side-box-top .right-ear{
    background-position: -6px 0;
    right:0;
}
.mid-box-top{
    background:#2a6fab url(/images/rusmain/box-top-gradient.gif) repeat-x 0 -25px;
    height:25px;
    position:relative;
    line-height:25px;
    padding:0 6px;
    color:white;
}
.mid-box-top .left-ear, .mid-box-top .right-ear{
    background-position: -12px 0;
}
.mid-box-top .left-ear{
    left:0;
}
.mid-box-top .right-ear{
    background-position: -18px 0;
    right:0;
}
.box-content{
    border:1px solid #e5e5eb;
    background-color:#fafafa;
    padding:0;
    margin:0;
}
.side-box{
    margin:10px 0 0;
    clear:both;
}
.side-box h3{
    background-color:#979797;
    color:white;
    height:20px;
    line-height:20px;
    padding:0 6px;
    font-weight:bold;
}
.side-box .box-content{
    padding:10px;
}
#header #logo{
    position:absolute;
    left:55px;
    top:9px;
}
#header #links{
    position:absolute;
    right:39px;
    top:59px;
}
#header #links ul.links_ext{
}
#header #links ul.links_int{
    border-left:1px solid #d9dbe0;
    padding-left:3px;
}
#header #links img.link-img{
    width:15px;
    height:15px;
}
#header #links ul{
    float:left;
    margin:0;
}
#header #links li{
    list-style-type:none;
    list-style-position:inside;
    display:inline;
}
#header #links a, #header #links a:visited{
    float:left;
    margin:0 6px;
    font-size:11px;
    text-align:center;
    color:#979797;
}
#header #languages{
    height:18px;
    line-height:18px;
    position:absolute;
    right:38px;
    top:20px;
    width:110px;
    border: 1px solid #e5e5eb;
    color:silver;
}
#header #search{
    position:absolute;
    right:167px;
    top:19px;
}
#header #search .text{
    vertical-align:super;
    width:109px;
    border: 1px solid #e5e5eb;
    margin:0 4px 0 0;
    float:left;
}
/********* ADMIN **********/
#command-panel{
    position:fixed;
    top:0;
    z-index:1000;
    border:2px solid #D57100;
    border-top:none;
    width:942px;
    background-color:#F5F5DC;
    height:26px;
}
.under-command-panel{
    margin-top:30px;
}
.dynamic_tree{
    position:absolute;
}
.x-tree{
float:left;
}
.page-status{
float:right;
margin:5px 10px;
}
.clear {
    clear:both;
}

/* Sortables */
.handle{
    z-index:500 !important;
    height:13px !important;
    width:13px !important;
    cursor: move !important;
    margin:0 !important;
    padding:0 !important;
    position:relative !important;
}
.sort-area{
    background-color:#86cb9c!important;
}
.placeholder{
    background-color:olive;
}
.copyright{
    color:#767676;
    font-size:13px;
}

.no-bottom-border{
    border-bottom:none !important;
}

/* Citation in articles */
.table-article{
    float:right;
    background-color:white;
    width:208px;
    margin:5px 0 5px 5px;
}
.table-article .table-middle-tr{
    display:none;
}
.table-article .table-article-td-top-middle{
    width:100%;
    height:4px;
    line-height:4px;
    background:white url(/images/rusmain/table/top-bot.gif) repeat-x 0 0;
    border:0px;
    font-size:1px;
}
.table-article .table-article-td-bottom-middle{
    width:100%;
    height:4px;
    line-height:4px;
    background:white url(/images/rusmain/table/top-bot.gif) repeat-x 0 -4px;
    border:0px;
    font-size:1px;
}
.table-article .table-article-td-left-middle,
.table-article .table-article-td-right-middle{
    width:2px;
    height:100%;
    background-color:#e5e5eb;
    border:0px;
    font-size:1px;
}
.table-article .ear-top-right{
    border:0px;
    width:2px;
    height:4px;
    line-height:4px;
    background:white url(/images/rusmain/table/corners.gif) no-repeat scroll 0 1px;
    font-size:1px;
}
.table-article .ear-bottom-right{
    border:0px;
    width:2px;
    height:4px;
    line-height:4px;
    background:white url(/images/rusmain/table/corners.gif) no-repeat scroll 0 -8px;
    font-size:1px;
}
.table-article .ear-top-left{
    border:0px;
    width:2px;
    height:4px;
    line-height:4px;
    background:white url(/images/rusmain/table/corners.gif) no-repeat scroll 0 -3px;
    font-size:1px;
}
.table-article .ear-bottom-left{
    border:0px;
    width:2px;
    height:4px;
    line-height:4px;
    background:white url(/images/rusmain/table/corners.gif) no-repeat scroll 0 -16px;
    font-size:1px;
}
.table-article .table-article-title{
    border:0px;
    color:black;
    font-weight:bold;
    padding:5px;
}
.table-article .table-article-body{
    border:0px;
    color:black;
    padding:5px;
}
.table-article .table-title-tr{
    background:#fcfcfd url(/images/rusmain/table/title-grad.gif) repeat-x scroll left top;
}
.table-article .table-body-tr{
    background:#e5e5eb url(/images/rusmain/table/body-grad.gif) repeat-x scroll left bottom;
}

.x-tool{
float:left;
margin-right:5px;
}
