#body{
    text-align:left;
    position:relative;
}
#body-left{
    float:left;
    width:224px;
    position:relative;
}
#body-middle{
    margin-left:243px; /* + 10px between columns */
    margin-right:0;
    width:auto;
}
#body-middle #mid-content{
    border:1px solid #e5e5eb;
}
#static-menu {
    background-color:#e0e2e7;
    padding:0 1px;
    margin:-2px 0 0;
}
#static-menu li{
    font:11px "Lucida Grande CY", Arial, sans-serif;
    color:#1060A5;
}
#static-menu li a{
    padding:5px 10px 5px 17px;
    border-bottom:1px solid #c3c4cf;
    border-top:1px solid #fafafa;
}
#static-menu li li a{
    padding-left:34px;
    background-position:20px 6px !important;
}
#static-menu li li li a{
    padding-left:51px;
    background-position:37px 6px !important;
}
#static-menu a.plus{
    background:#e0e2e7 url(/images/rusmain/plus.gif) no-repeat 3px 6px;
}
#static-menu a.minus{
    background:#e0e2e7 url(/images/rusmain/minus.gif) no-repeat 3px 6px;
}
#static-menu a.selected{
    font-weight:bold;
}
#static-menu li.selected{
    background-color:#eff1f6;
}
#static-menu a{
    display:block;
}
.breadcrumbs{
    margin:0 10px;
    border-bottom:1px solid #e5e5eb;
    color:#186BE5;
}
.breadcrumbs a,.breadcrumbs a:visited{
    color:#186BE5;
}
#mid-content .related{
    background-color:#FAFAFA;
    border-left: 1px solid #E5E5EB;
    float: right;
    width: 190px;
}


