/*----------  Action Buttons  ---------------*/
.button-menu{
    /*background:transparent url(/images/menu.gif) no-repeat scroll 0 0 !important;*/
}
.span_admin table{
    display:inline;
    margin:0;
    padding:0;
    z-index:1000;
}
.x-btn-icon .x-btn-center .x-btn-text{
    width:100%;
}
.x-btn-with-menu .x-btn-center em {
    padding:0;
}
.x-btn-right,.x-btn-center,.x-btn-left{
    border:0 none;
    background-image:url(../../images/default/button/btn-sprite.gif);
}
.x-menu a.x-menu-item{
    padding:3px 3px 3px 0;
}
.x-menu-item-icon{
    margin:0;
    float:right;
}
.x-menu li {
    text-align:left;
}
.x-btn-text-icon .x-btn-center .x-btn-text {
    padding:3px 0 2px;
}
.highlight{
    background-color:orange !important;
}
/*----------  Drop Zone  ---------------*/
.drop-zone{
    position:absolute;
    top:-10px;
    left:15px;
    padding:0;
    margin:0;
    background-color:silver;
    z-index:100;
}
.drop-zone .x-panel-body{
    overflow:hidden !important;
}
/***************** xxx **************/
#header #links>span{
    float:left;
}

#header #links{
    top:35px;
}
/************** Comment Admin **************************/

tr.notmod td{
    background-color: Lavender;
}
tr.badmod td{
    background-color: Bisque;
}

.admin_comment_main th{
    padding:2px 3px;
    text-align:center;
}

.admin_comment_main .funct{
    padding: 3px;
    text-align: center;
}

.admin_comment_main .right{
    float: right;
    margin: 10px;
    margin-bottom: 30px;
}

.admin_comment_main input[type="text"]{
    width: 40em;
}

.admin_comment_main textarea{
    width: 40em;
}

.admin_comment_main .title,  .admin_comment_main .spam, .admin_comment_main .valid{
    padding: 3px;
    text-align: center;
    vertical-align: top;
}
.admin_comment_main .body{
    padding: 3px;
    text-align: justify;
    vertical-align: top;
}
.admin_comment_main .red{
    padding: 3px;
    text-align: center;
    background-color: red;
}
.admin_comment_main .green{
    padding: 3px;
    text-align: center;
    background-color: green;
}

.downloads, .right-column{
    border:1px dashed black;
    margin:10px 0 0;
}

.page-status .preview {
    color:red;
    font-weight:bold;
    text-decoration:underline;
    padding-left:10px;
}