body {
font-family:verdana,arial,helvetica,clean,sans-serif;
text-align:left;
}
label{
display: block;
}
label, .label{
margin: 25px 0 10px;
font-family: verdana;
font-size: 12px;
font-style: italic;
font-weight: bold;
}
#website_control{
height: 50px;    
}
#website_control label{
display: inline;
margin-left: 5px;    
}
#website_control select{
margin: 5px 0 0 0;    
}
#submit{
margin: 30px 0 10px;
}

.dynamic_element table.property_definition,.dynamic_element table.association_definition{
border: 2px dashed lightblue;
margin: 15px 0;  
padding: 3px;
}

.dynamic_element img{
border: none;
}
.dynamic_element th{
text-align: left;
}

#property_fieldset{
border: 1px solid lightgreen; 
width: 700px; 
margin: 25px 0 10px;
padding:10px;
}
#left{
float: left;
border: 1px solid lightblue;
width:29%;
}
#right{
float: right;
border: 1px solid lightblue;    
width: 69%;
}
#hd h1{
font-size:220%;
margin: 0 0 0 30px;
display: inline;
font-family:arial;
color: darkblue;
}
#hd img{
margin: 10px 0 -4px;    
}
#hd{
margin: 10px 0 0;
border-bottom: 3px solid lightblue;
padding-bottom: 20px;
}
#yui-main, .yui-b{
height: 400px;
}
#bd .yui-b{
border-left: none;
}
#bd #yui-main .yui-b{
border-left: 3px solid lightblue;
}
.yui-b{
padding-top:30px;    
}
#ft{
margin:10px; 
text-align:center;   
}
table{
border-collapse:separate;
}
th{
font-weight:bold;
font-style:italic    
}
th, td{
padding: 5px;    
}
table. tr. td{
border:1px solid gray;    
}
a:link, a:visited {
color:#1999BC;
}
ul li {
list-style-image:url(/images/bullet.gif);
list-style-position:outside;
list-style-type:square;
margin-bottom: 4px;
}
ul{
padding-left: 20px;
}
span#submit{
display:block;    
}
.notice{
position: absolute;
top: 5px;
right: 5px;
text-align:center;
padding: 5px;
border: 1px solid green;
background-color: rgb(198,251,208);
color: green;
font-weight: bold;   
}
#submenu{
width: 160px;
float:left;  
border-right: 1px solid lightblue;
margin:-30px 0 0 0;
padding: 30px 0 0 20px;
height: 400px
}
#content{
float:left; 
padding-left: 20px;   
}
h2.menu{
font: normal normal 12px verdana;
color: darkblue;
padding: 5px 0;
margin-top: -20px;
text-align:center;
background-color: #E6E6FF;
}
#submenu h2.menu{
margin:-29px 1px 15px -19px;
}
#menu h2.menu{
margin:-29px -12px 15px 0;
}
