#top{
width: 100%;
height: 60px;
}
#menu{
width: 200px;
height: 100%;
float: left;
}
#menu a{
	display: block;
	margin: 0 0 10px 0;
}
#content{
float:left;

}
.label_rules{
    border: 2px dotted #46a3ff;
    padding: 10px;
    margin:15px 0 20px;
    }
.label_rules th{
    text-align: left;
    font-weight:normal;
}
.label_rules span.title{
    font-style:italic;
    font-weight:bold;
}
