<h1>Editing language</h1>

<%= render :partial => 'form',
  :locals => {
    :path => language_path(@language),
    :method => :put,
    :button_text => 'Update'
  } %>


<%= link_to 'Show', language_path(@language) %> |
<%= link_to 'Cancel', languages_path %>