<h1>New language</h1>

<%= error_messages_for :language %>

<% form_for(:language, :url => languages_path) do |f| %>
	Abbreviation:   <%= f.date_select :abbr %><br />
  <p>
    <%= submit_tag "Create" %>
  </p>
<% end %>

<%= link_to 'Back', languages_path %>