<ul>
	<li><%= link_to image_tag("#{domain}/images/#{@site_name}/home.gif", :alt => 'home'), @presenter.home %></li>
	<% @presenter.main_sections.each do |section| -%>
		<li class="divider">|</li>
		<% if section.eql?(@presenter.main_section) -%>
		<li class="selected"><%=link_to section.resource.name, get_page_url(section) %></li>
		<% else %>
		<li><%=link_to section.resource.name, get_page_url(section) %></li>
		<% end -%>
	<% end -%> 	
</ul>
