<h1>New label_desc</h1>

<%= render :partial => 'form',
  :locals => {
    :path => label_descs_path(@label),
    :method => :post,
    :button_text => 'Create'
  } %>
<%= link_to 'Back', label_descs_path(@label) %>