<table border="1">
	<thead>
		<tr>
			<th>ID</th>
			<th>Name</th>
			<th>Identifier</th>
			<th colspan="4">Actions</th>
		</tr>
	</thead>
	<%= render :partial => 'resource_type', :collection => resource_types %>
</table>