<% @title = "New resource type" %>
<% form_for(:resource_type, :url => admin_resource_types_path) do |f| %>
	<p>
		<%= render :partial => 'fields', :locals => {:f => f} %>
		<span id="submit"><%= submit_tag "Create Resource Type" %></span>
	</p>
<% end %>
<%= link_to 'Cancel', admin_resource_types_path %>