/******** GENERAL *********************/
body {
    direction: rtl;
    unicode-bidi: bidi-override;
}
a, a:visited{
    color:#186BE5;
    text-decoration:none;
}
a:hover{
    text-decoration:underline;
}
.left {
    float:left;
}
.right {
    float:right;
}
strong{
    font-weight:bold;
}
/***********  HEADER  ****************/
.dynamic_tree {
    position:fixed;
    top:0;
    right:0;
    background-color:#F5F5DC;
    border:2px solid #D57100;
    height:26px;
    width:942px;
    z-index:1000;
}
.under-command-panel{
    margin-top:30px !important;
}
#hd {
    position: relative;
    height:80px;
    font-size: 108%;
    margin:0 0 0 7px;
    background-color:white;
}
#hd-r {
    position: relative;
    height:80px;
    font-size: 108%;
    margin:0;
}
/*----------  h1  ---------------*/
.h1{
    background-color:#90aede;
    color:white;
    text-align:right;
    font-size:138.5%;
    margin:0;
    height:32px;
    line-height:32px;
    position:relative;
    padding: 0 10px 0 0;
}
.h1 .h1-right,.h1 .h1-left{
    position:absolute;
    top:0;
    width:6px;
    height:32px;
}
.h1 .h1-right{
    right:0;
    background: transparent url(/images/hebmain/h1-ears.png) no-repeat 0 -32px;
}
.h1 .h1-left{
    left:0;
    background: transparent url(/images/hebmain/h1-ears.png) no-repeat 0 0;
}
/*----------  Logo  ---------------*/
#hd-r .logo {
    position: absolute;
    top:0;
    right:0;
    height: 168px;
    background: white;
    width: 200px;
}
#hd-r .logo h1{
    position: absolute;
    top:-1000px;
    right:0;
}
/*----------  Search  ---------------*/
#hd .search {
    position: absolute;
    top:15px;
    left:0;
    width:300px;
    height:15px;
}
#hd .search .text{
    height:17px;
    /* Under Dudy's reponsibility: field was shortened and logo disappeared */
    width:99px;
    background-position: 67% 0 !important;
    border:1px solid #b7b7b7 !important ;
    border-left:0 none !important;
    padding:0 2px !important;
    font-size:11px;
    line-height:11px;
    margin:0;
}
#hd .search *{
    float:left;
}
#hd .search .submit{
    width:65px;
    height:19px;
}

/*----------  Links  ---------------*/
#hd ul.links {
    font-size:12px;
    position: absolute;
    top:15px;
    right:0;
    height:15px;
    margin: 0 -9px 0 0;
    padding: 0;
}
#hd ul.links li {
    float: left;
    margin-left: 10px;
    list-style:none;
    list-style-position: inside;
    position: relative;
}
.firefox #hd ul.links li {
    margin-left: 0;
}
/*----------  Footer  ---------------*/
#ft{
    text-align:center;
    margin:20px 0 0;
    zoom:1;
}
#ft ul.links {
    height:15px;
    margin: 30px 0;
    padding: 0;
    text-align:center;
    color:#186BE5;
    font-size:90%;
    clear: both;
}
#ft ul.links li {
    margin-left: 5px;
    list-style:none;
    list-style-position: inside;
    z-index:100;
    /*float:right;*/
    display:inline;
}
/*----------  Menu  ---------------*/
#bd .menu {
    font-size:110%;
    font-weight: normal;
    background: white url(/images/hebmain/menu-bg.gif) repeat-x left -62px;
    position:relative;
    height:31px;
    width:100%;
    margin: 0 0 25px;
}
#bd .menu a {
    color:black;
}
/* To make annotation to the tv66 link */
#bd .menu a.section_0 {
    color:#186BE5;
}

#bd .menu ul {
    position:absolute;
    top:0;
    right:0;
    width:100%;
    height:31px;
    line-height:21px;
    padding: 3px 5px 0 0;
    margin: 0;
}
#bd .menu .first {
    position:absolute;
    top:0;
    right:0;
    height:31px;
    width:4px;
    background: white url(/images/hebmain/menu-bg.gif) no-repeat right 0;
}
#bd .menu .last {
    position:absolute;
    top:0;
    left:0;
    height:31px;
    width:4px;
    background: white url(/images/hebmain/menu-bg.gif) no-repeat right -31px;
}
#bd .menu ul li {
    float: right;
    list-style-type: none;
    list-style-position: inside;
    padding: 2px 0;
/*For ie8*/
    padding: 2px 3px\9;
/*For ie6-7*/
    *padding: 2px 3px;
    margin:0 -2px;
    text-align:center;
}
#bd .menu ul li.divider{
    color:#838383;
    margin: 0;
    padding: 0 5px;
    width:3px;
}
#bd .menu ul li.selected{
    background-color:#EAF0FC;
}
#bd .menu img{
    *vertical-align:middle;
}
/*----------  Tree  ---------------*/
.x-tree {
    text-align: right;
    padding:0;
}
.x-tree-node-icon {
    display:none;
}
.dynamic_tree .x-tree-arrows .x-tree-elbow-plus {
    background:transparent url(/ext/resources/images/default/tree/arrows_rtl.gif) no-repeat scroll 0pt;
}
.dynamic_tree .x-tree-arrows .x-tree-elbow-minus {
    background:transparent url(/ext/resources/images/default/tree/arrows_rtl.gif) no-repeat scroll -16px 0pt;
}
.dynamic_tree .x-tree-arrows .x-tree-elbow-end-plus {
    background:transparent url(/ext/resources/images/default/tree/arrows_rtl.gif) no-repeat scroll 0pt 50%;
}
.dynamic_tree .x-tree-arrows .x-tree-elbow-end-minus {
    background:transparent url(/ext/resources/images/default/tree/arrows_rtl.gif) no-repeat scroll -16px 0pt;
}
.dynamic_tree .x-tree-arrows .x-tree-elbow-end, .dynamic_tree .x-tree-arrows .x-tree-elbow {
    background:transparent url(/ext/resources/images/default/tree/arrows_rtl.gif) no-repeat scroll -64px 0pt;
}
.x-tree-node-loading .x-tree-node-icon{
    display:inline;
    background-image:url(/ext/resources/images/default/tree/loading.gif)!important;
}
li.x-tree-node{
    list-style-type:none;
}
.x-tree-node a span{
    white-space:normal;
}
