/***********  BODY  ****************/
#bd .yui-ge{
    margin:0 15px 0 6px;
}
/*----------  breadcrumbs  ---------------*/
#bd .breadcrumbs{
    text-align:right;
    padding:0 10px;
    margin:0 0 25px;
    height:30px;
    line-height:30px;
    border-bottom:1px solid #e8e8e8;
}
#bd .breadcrumbs .gt{
    color:#b5b5b5;
}

/*----------  Content  ---------------*/
.content {
    margin:0;
    padding:0;
    text-align:right;
    position: relative;
    *width:99%;
}
.content .h1{
    background-color: #3864b5;
}
.content .h1-right{
    background-position:0 -96px;
}
.content .h1-left{
    background-position:0 -64px;
}
.content h1, .content h1 a{
	font-weight:bold;
    color:#0D47B2;
    margin:0;
    padding:0;
}
.content h2{
    font-size:16px;
    margin:0 0 30px;
    padding:0;
}
.content h3{
    font-size:16px;
    color:#192862;
    margin-bottom:3px;
}
.content .author{
    height:18px;
    margin: 5px 0;
}
.content .descr{
    font-size:16px;
    color:#696969;
    margin:0;
    padding:0 0 25px;
    border-bottom:1px solid #e8e8e8;
}
.content .item{
    font-size:14px;
    margin:0 0 25px 0;
    position: relative;
}
.content .item p{
    margin-bottom:15px;
}
.content .item ul, .content .item ol{
    margin-right:30px;
}
.content .item li{
    margin-bottom:3px;
}
.content .image{
    background-color:#E8E8E9;
    margin:0 0 20px 20px;
    padding: 5px;
    float:right;
}
.content .full-image{
    background-color:#E8E8E9;
    margin:0 auto 10px;
    padding: 5px;
    text-align:center;
}
.content .item h3.video {
    background: transparent url(/images/hebmain/player/top.gif) no-repeat top right;
    padding:7px 10px 5px 0;
    margin:1em 0 0;
}
.content .item .full-video {
    background: transparent url(/images/hebmain/player/bg.gif) repeat-y top right;
}
.content .item .full-video p{
    padding:10px 10px 15px;
    margin:0;
}
.content .item .embed{
    background: transparent url(/images/hebmain/player/bottom.gif) no-repeat top right;
    padding:10px 8px 5px 20px;
    margin:0;
    text-align:left;
    direction:ltr;
    float:right;
}
.content .item .embed span.text{
    font-weight:bold;
    padding:0 5px;
}
.content .item .embed span.services{
    padding: 0 0 0 10px;
}
.content .item .embed span.services img{
    padding: 0 0 0 5px;
    vertical-align:middle;
}
.content .item .embed input{
    width:300px;
    text-align:left;
    border:1px solid #b2c4e4;
}
.content .item .video {
    margin:25px 0 0;
}
.content .item .video img {
    vertical-align: middle;
    padding: 0 0 0 10px;
}
.content .clear {
    clear: both;
}
/*----------  right-part  ---------------*/
.right-part {
    text-align: center;
    margin:56px 0 0;
    padding:0;
    position:relative;
    width:100%;
}
.right-part .player {
    padding:5px 5px 15px;
    margin:0;
    background-color: #F0F4FD;
    text-align:center;
}
.right-part .player .playlist{
    margin: 15px 2px 0;
    text-align: right;
}
.right-part .player .playlist ol{
    margin: 0 19px 0 0;
    color: #186BE5;
}
.right-part .player a{
    display:block;
}
.right-part .player .more{
    margin:15px 2px 0 0;
    text-align: right;
}
.right-part .flashplayer {
    cursor:pointer;
}
.right-part .update{
    margin:0 0 20px;
    padding:0 5px 20px;
    border-bottom:1px dashed #e5e5e5;
    position:relative;
}
.right-part .last{
    border-bottom:0 none !important;
    margin:0;
}
.right-part .update h4 {
    color:#0e46b3;
    font-size:16px;
    padding:0 0 10px;
}
.right-part .update .link {
    padding:5px 0 0;
}
.right-part .update .link img {
    vertical-align: middle;
    padding:0 5px 0 0;
}
/*----------  custom preview  ---------------*/
.custom_preview{
    margin-top:10px;
}
.custom_preview a:hover{
    text-decoration:underline;
}
.custom_preview h1 a{
    display:block;
    font-size:16px;
    font-weight:normal;
    line-height:16px;
    padding:0 0 4px;
}
.custom_preview p{
    font-size:12px;
}
.custom_preview a img{
    float: right;
    margin:0 0 0 10px;
    width:138px;
    height:94px;
}
/*----------  left-part  ---------------*/
.left-part{
    width:100%;
}
.left-part .h1 {
    background-color:#3864b5;
}
.left-part .h1-right{
    background-position:0 -96px;
}
.left-part .h1-left{
    background-position:0 -64px;
}
.left-part .radio-TV{
    direction: ltr;
    background-color:#e9f1ff;
    padding:10px 0 0;
    margin:0;
}
.left-part .radio-TV ul li{
    list-style-type: none;
    text-align:center;
}
.left-part #radio{
    height:50px;
    padding:2px 0 0;
}
.left-part #tv{
    height:175px;
}
.left-part .tv-border{
    background-color:#ebebeb;
    padding:3px;
    text-align:center;
}
.left-part a.full_screen{
    padding:10px 3px 0 0;
}
.left-part .radio, .left-part .tv{
    position:relative;
    margin-top:3px;
}
.left-part .tv .clear{
    min-height:23px;
}
.left-part #radio #radioplayer{
    position:absolute;
    top:-1000px;
}
.left-part .radio .play{
    height:22px;
    position:absolute;
    top:13px;
    width:22px;
    background-image:url(/images/hebmain/radio/buttons.jpg);
    background-repeat:no-repeat;
    right:187px;
}
.left-part .tv .play{
    height:22px;
    width:22px;
    background-image:url(/images/hebmain/radio/buttons.jpg);
    background-repeat:no-repeat;
    float:left;
}
.left-part .radio .play-out,.left-part .tv .play-out{
    background-position:0 0;
    cursor:pointer;
}
.left-part .radio .play-in,.left-part .tv .play-in{
    background-position:0 -22px;
    cursor:pointer;
}
.left-part .radio .stop{
    height:22px;
    position:absolute;
    top:13px;
    width:22px;
    background-image:url(/images/hebmain/radio/buttons.jpg);
    background-repeat:no-repeat;
    right:162px;
}
.left-part .tv .stop{
    height:22px;
    width:22px;
    background-image:url(/images/hebmain/radio/buttons.jpg);
    background-repeat:no-repeat;
    float:left;
}
.left-part .radio .stop-out,.left-part .tv .stop-out{
    background-position:left -44px;
    cursor:pointer;
}
.left-part .radio .stop-in,.left-part .tv .stop-in{
    background-position:left -66px;
    cursor:pointer;
}
.left-part .radio .text{
    position:absolute;
    right:25px;
    top:16px;
}
.left-part .tv .text{
    position:absolute;
    right:25px;
    top:26px;
}
.left-part .radio img{
    position:absolute;
    top:10px;
    right:5px;
}
.left-part .tv img{
    position:absolute;
    top:20px;
    right:0;
}
.left-part .body{
    direction: rtl;
    border:1px solid #e5e5e5;
    border-top:0 none;
    height:40px;
    text-align:center;
}
.left-part .rss{
}
.left-part .rss h3 img{
    padding:0 0 0 5px;
    vertical-align:middle;
}
.left-part .rss .entry{
    color:#767676;
    margin:0 0 10px 0;
}
.left-part .rss .entry .date{
    color:#767676;
    font-size:13px;
}
.left-part .rss .more{
    height:27px;
    border-top:1px dashed #bbbbbb;
    display:block;
}
.left-part .downloads{
}
.left-part .downloads ul {
    margin:0 10px 0 0;
    padding:10px 0 0;
}
.left-part .downloads li.item {
    list-style-image:none;
    list-style-position:outside;
    list-style-type:none;
    padding:5px 0 10px;
    border-bottom:1px dashed #e8e8e8;
}
.left-part .downloads .services {
    margin:10px 5px 0;
}
.left-part .downloads .services a:hover{
    text-decoration:underline;
}
.left-part .downloads .services a{
    display:-moz-inline-box;
    padding:0 22px 0 0;
    cursor:pointer;
    background: transparent url(/images/services.gif) no-repeat 90% 1px;
}
.left-part .downloads .services a.video{
    background-position:90% -23px;
}
.left-part .downloads .services a.sketch{
    background-position:90% -44px;
}
.left-part .downloads .date{
    color:#767676;
    font-size:11px;
}
.left-part .downloads .toggle{
    font-weight:normal;
    cursor:pointer;
}
.left-part .downloads img{
    height:18px;
    width:16px;
    background-repeat:no-repeat;
    border:0pt none;
    margin:0pt;
    padding:0pt;
    vertical-align:top;
}
.left-part .downloads .x-plus {
background:transparent url(/images/hebmain/jquery/arrows_rtl.gif) no-repeat scroll 0pt;
}
.left-part .downloads .x-minus {
background:transparent url(/images/hebmain/jquery/arrows_rtl.gif) no-repeat scroll -16px 0pt;
}
.left-part .downloads .x-end-plus {
background:transparent url(/images/hebmain/jquery/arrows_rtl.gif) no-repeat scroll 0pt 50%;
}
.left-part .downloads .x-end-minus {
background:transparent url(/images/hebmain/jquery/arrows_rtl.gif) no-repeat scroll -16px 0pt;
}
.left-part .downloads .x-end, .left-part .downloads .x- {
background:transparent url(/images/hebmain/jquery/arrows_rtl.gif) no-repeat scroll -64px 0pt;
}
.left-part .downloads .x-over .x-plus {
background-position:-32px 0pt;
}
.left-part .downloads .x-over .x-minus {
background-position:-48px 0pt;
}
