/*----------  Content  ---------------*/
.index{
    display:inline-block;
}
.index .element{
    display:inline-block;
}
.content_preview{
    display:inline-block;
}
.newsletter .check{
    margin-top: 3px;
}
.sitemap{
    zoom:1;
}
.sitemap-inner{
    zoom:1;
}

.main_preview1{
    display:inline-block;
}
.main_preview1 .element{
    display:inline-block;
}
.main_preview2{
    display:inline-block;
}
.main_preview2 .element{
    display:inline-block;
}
.main_preview3{
    display:inline-block;
}
.main_preview3 .element{
    display:inline-block;
}
.main_preview3 .element ul.links li{
    padding:0;
}
.section_preview{
    display:inline-block;
}

/*----------  right-part  ---------------*/
.right-part .player {
    display:inline-block;
    padding:5px 7px 15px;
}
.right-part .player .playlist ol{
    margin-right:23px;
}
.right-part .player .playlist{
    display:inline-block;
    padding-right:10px;
}
.right-part .player .more{
    padding-right:10px;
}
/*----------  left-part  ---------------*/
.left-part .radio-TV ul{
    display:inline-block;
}
.left-part a.full_screen{
    display:inline-block;
}
.left-part .radio, .left-part .tv{
    display:inline-block;
}
.left-part .downloads .services {
    margin:10px 20px 0 5px;
    direction:ltr;
}
/*----------  kab.tv  ---------------*/
#kabtv #tabs{
    width:302px;
}
#kabtv .schedule_day{
    position:absolute;
    top:0;
    right:0;
}
#kabtv .ui-tabs-nav a{ /* auto clear */
    display:inline-block;
}
#kabtv .ui-tabs-nav { /* auto clear */
    display: inline-block;
}
#kabtv #ask_question-ie{
    display:inline-block;
}
#kabtv .ui-tabs-nav .ui-tabs-disabled {
    position: relative; /* fixes opacity */
    filter: alpha(opacity=40);
}
#kabtv .ui-tabs-nav .ui-tabs-disabled a span {
    _height: 19px; /* for some reason the height is 1px to less with opacity... */
    min-height: 19px; /* ...in both IE 6 and 7 */
}
#kabtv #sketch #thumbnails {
    height:110px;
    white-space:pre;
}
#kabtv #sketch #thumbnails a.highslide{
    position:static;
}
#kabtv #sketch #thumbnails a.highslide img{
    width:114px;
    height:85px;
}
#kabtv #player_options{
    height:28px;
    width:377px;
    position:relative;
}
#kabtv #player_options #separate-win,#kabtv #player_options #full-win{
    display:block;
}
#kabtv #player_options #separate-msg{
    display:none;
}
/************/
/**********/
#home-kabtv{
    display: inline-block;
}

#kabtv-bot a{
    display: inline-block;
}

#kabtv-bot a .text-tv{
    display: inline-block;
}
#kabtv-live a .text-live{
    display: inline-block;
    padding: 0px 5px 0px 70px !important;
}
.tv_news_container{
    display: inline-block;
}
#kabtv-news{
    display: inline-block;
}
.box_headersection_tv{
    display: inline-block;
}
.box1_headersection_tv{
    display: inline-block;
}
.futurprogram-plus{
    display: inline-block;
}
.futurprogram-minus{
    display: inline-block;
}

#kabtv-news .tvnewsiteplus{
    height:20px !important;
}
#kabtv-news .tvnewsiteminus{
    height:20px !important;
}

