/*----------  Content  ---------------*/
.content {
    width:80%;
}

/*----------  right-part  ---------------*/
.right-part .player {
    display:inline-block;
    padding:5px 7px 15px;
}
.right-part .player .playlist ol{
    margin-right:23px;
}
.right-part .player .playlist{
    display:inline-block;
    padding-right:10px;
}
.right-part .player .more{
    padding-right:10px;
}