/*----------  kab.tv  ---------------*/
#kabtv .ui-tabs-nav a{ /* auto clear */
    display:inline-block;
}
#kabtv .ui-tabs-nav { /* auto clear */
    display: inline-block;
}
#kabtv #ask_question-ie{
    display:inline-block;
}
#kabtv .ui-tabs-nav .ui-tabs-disabled {
    position: relative; /* fixes opacity */
    filter: alpha(opacity=40);
}
#kabtv .ui-tabs-nav .ui-tabs-disabled a span {
    _height: 19px; /* for some reason the height is 1px to less with opacity... */
    min-height: 19px; /* ...in both IE 6 and 7 */
}
#kabtv #sketch #thumbnails {
    height:110px;
    white-space:pre;
}
#kabtv #sketch #thumbnails a.highslide{
    position:static;
}
#kabtv #sketch #thumbnails a.highslide img{
    width:114px;
    height:85px;
}
#kabtv #player_options #separate-win,#kabtv #player_options #full-win{
    display:block;
}
#kabtv #player_options #separate-msg{
    display:none;
}
/****** Homepage kabtv ****/
#home-kabtv{
    display: inline-block;
}
#kabtv-bot a{
    display: inline-block;
}
#kabtv-bot a .text-tv{
    display: inline-block;
}
#kabtv-live a .text-live{
    display: inline-block;
    padding: 0px 5px 0px 70px !important;
}
.tv_news_container{
    display: inline-block;
}
#kabtv-news{
    display: inline-block;
}
.box_headersection_tv{
    display: inline-block;
}
.box1_headersection_tv{
    display: inline-block;
}
.futurprogram-plus{
    display: inline-block;
}
.futurprogram-minus{
    display: inline-block;
}