/***********  BODY  ****************/
#bd{
    background:white url(/images/hebmain/bd-bg.png) repeat-y 0 0;
}
#bd .yui-ge{
    margin:0 15px 0 6px;
}

/*----------  breadcrumbs  ---------------*/
#bd .breadcrumbs{
    text-align:right;
    padding:0 10px;
    margin:0;
    height:30px;
    line-height:30px;
    border-bottom:1px solid #e8e8e8;
    background-color:white;
}
#bd .margin-25{
    height:25px;
    background-color:white;
    width:100%;
}
#bd .menu{
    margin:0 !important;
}
#bd .breadcrumbs .gt{
    color:#b5b5b5;
}

/*----------  Content  ---------------*/
.content {
    margin:0 20px 0 22px;
    padding:0;
    text-align:right;
    position: relative;
    width:504px;
}
.middle .h1{
    background-color: #3864b5;
}
.middle .h1-right{
    background-position:0 -96px;
    right:-1px;
}
.middle .h1-left{
    background-position:0 -64px;
}

.content h1, .content h1 a{
    font-size:18px;
    color:#0D47B2;
    margin:0;
    padding:0;
}
.content .h1-left{
    background-position: 0 -128px;
}
.content .h1-right{
    background-position: 0 -160px;
}
.content h2{
    font-size:16px;
    margin:0 0 30px;
    padding:0;
}
.content h3{
    font-size:16px;
    color:#192862;
    margin-bottom:3px;
}
.content .author{
    height:18px;
    margin: 5px 0;
}
.content .descr{
    font-size:16px;
    color:#696969;
    margin:0;
    padding:0 0 15px;
    border-bottom:1px solid #e8e8e8;
}
.content .item{
    font-size:14px;
    border-bottom:1px dashed #e8e8e8;
    position: relative;
    clear: both;
    width:504px;
    padding:5px 0 0;
}
.content .item p{
    margin-bottom:15px;
}
.content .item strong{
    font-weight:13.5px;
    color:#1F1F1F;
}
.content .item ul, .content .item ol{
    margin-right:30px;
}
.content .item li{
    margin-bottom:3px;
}
.content .image{
    background-color:#E8E8E9;
    margin:0 0 20px 20px;
    padding: 5px;
    float:right;
}
.content .full-image{
    background-color:#E8E8E9;
    margin:0 auto 10px;
    padding: 5px;
    text-align:center;
}
.content .item h3.video {
    background: transparent url(/images/hebmain/player/top.png) no-repeat top right;
    padding:7px 10px 5px 0;
    margin:1em 0 0;
}
.content .item .full-video {
    background: transparent url(/images/hebmain/player/bg.png) repeat-y top right;
}
.content .item .full-video p{
    padding:10px 10px 15px;
    margin:0;
}
.content .item .full-video .flashplayer{
    position:relative;
    cursor:pointer;
    width:504px;
    height:378px;
}
.content .item .full-video p.playbutton {
    cursor:pointer;
    display:block;
    font-size:15px;
    font-weight:bold;
    line-height:15px;
    position:absolute;
    bottom:225px;
    right:180px;
    margin:0;
    padding:0;
}
.content .item .full-video p.playbutton a{
    text-decoration:none;
}
.content .item .full-video .playbutton span{
    background:transparent url(/images/hebmain/player/play-left.png) no-repeat scroll 0% 50%;
    padding: 18px 3px 17px 22px;
    display:block;
    color:white;
    float:left;
    filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/hebmain/player/play-left-ie.png');
    *background: 0 none;
}
.content .item .full-video p.playbutton b{
    background:transparent url(/images/hebmain/player/play-right.png) no-repeat scroll 0pt;
    text-indent:-9999px;
    float:left;
    height:50px;
    width:50px;
    filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/hebmain/player/play-right.png');
    *text-indent:0;
    *background: 0 none;
}
.content .item .embed{
    background: transparent url(/images/hebmain/player/bottom.png) no-repeat top right;
    padding:10px 8px 5px 0;
    margin:0;
    text-align:left;
    direction:ltr;
    float:right;
    height:39px;
    width:504px;
}
.content .item .embed span.text{
    font-weight:bold;
    padding:0 5px;
}
.content .item .embed span.services{
    padding: 0 0 0 10px;
}
.content .item .embed span.services img{
    padding: 0 0 0 5px;
    vertical-align:middle;
}
.content .item .embed input{
    width:300px;
    text-align:left;
    border:1px solid #b2c4e4;
}
.content .item .video {
    margin:25px 0 0;
    width:504px;
}
.content .item .video img {
    vertical-align: middle;
    padding: 0 0 0 10px;
}
/*----------  Video gallery  ---------------*/
.item .inner-player{
    background-color:#e9e9e9;
    padding-bottom:8px;
    zoom:1;
}
.item .inner-player .play-serv{
    height:0px;
    border-bottom:1px solid #BFBFBF;
}
.item .inner-player .playlist{
    border-top:1px solid white;
    height:300px;
    width:503px;
    overflow:auto;
}
.item .inner-player .play-title{
    color:#4b4b4b;
    font-weight:bold;
    padding:7px 10px;
}
.item .inner-player .player-placeholder{
    height:378px;
    width:504px;
    cursor:pointer;
}
.item .inner-player .flashplayer{
    border-bottom:1px dashed white;
}
.item .playlist ul{
    margin:0;
}
.item .playlist ul li{
    list-style-image:none;
    list-style-position:outside;
    list-style-type:none;
    border-bottom:1px dashed #7b7b7b;
}
.item .playlist .odd{
    background-color:#f2f2f2;
}
.item .playlist .playing{
    background-color:#d3e6f3 !important;
}
.item .playlist ul li img{
    width:80px;
    height:60px;
    float:right;
    margin:7px 10px;
}
.item .playlist ul li a.h1-play{
    color:black;
    font-weight:bold;
}
.item .playlist ul li .play-separator{
    color:#b1b1b1;
}
.item .playlist ul li .descr-play{
    margin-top:1ex;
}
.item .table-no-border{
    border-width: 0px;
}

.item .table-no-border td, .item .table-no-border th {
    border-width: 0px;
    padding-left: 20px;
    vertical-align: top;
}

/*----------  More on page  ---------------*/
.content .more {
    margin:15px 0 10px;
    font-size: 93%;
}
.content .more h3{
    padding:10px;
    margin:0;
}
.content .more h4{
    margin:0 0 1em;
}
.content .more .article{
    width:225px;
    padding: 10px 20px 0;
}
.content .clear {
    clear: both;
}
/*----------  Comments  ---------------*/
.content .comments h3{
    background-color:#e8e8e9;
    border-bottom:1px solid #dfdfe3;
    height: 35px;
    line-height: 35px;
    padding:0 10px;
    margin:1em 0 0;
}
.content .comments .comment{
    background-color:#f5f6fa;
    border-top:1px solid white;
    border-bottom:1px solid #dfdfe3;
    padding:10px;
}
/*----------  Section Preview  ---------------*/
.section_preview{
    padding:0;
    margin:25px 0 0;
    position:relative;
    width:100%;
}
.section_preview .h1{
    color:black;
    text-align:right;
    margin:0;
    background-color: #e1ecfc;
    background-image: none;
    height:32px;
    line-height:32px;
    position:relative;
    padding: 0 10px 0 0;
}
.section_preview .h1 .h1-right{
    position:absolute;
    top:0;
    right:0;
    height:32px;
}
.section_preview .h1 .h1-left{
    position:absolute;
    height:32px;
    top:0;
    left:0;
}
.section_preview .descr{
    font-size:12px;
    color:black;
    border:0 none;
    padding:0;
}
.section_preview .author{
    height:12px;
    margin: 15px 0;
    font-size:12px;
    color:#696969;
}
.section_preview .element{
    padding: 0 158px 0 20px;
    position:relative;
    border-bottom:1px dashed #e8e8e8;
    *margin-right:3px;
}
.section_preview .preview-even{
    background-color:#f6f8fb;
}
.section_preview .element h1{
    font-size: 16px;
    padding: 15px 0;
}
.section_preview .img{
    position:absolute;
    right:0px;
    top:15px;
}
.section_preview .footer{
    background-color:#f6f8fb;
    height:35px;
    line-height:35px;
    border-bottom:1px solid #e8e8e8;
    padding:0 0 0 10px;
}
.section_preview .footer img{
    padding:0 5px 0 0;
    vertical-align:middle;
}
/*----------  Services  ---------------*/
.content div.services{
    border-top:1px dashed #e8e8e8;
    border-bottom:1px dashed #e8e8e8;
    height: 21px;
    background-color:white;
    padding:5px 0 0;
}
.content div.services a{
    margin: 0 0 0 20px;
    display: block;
    float:right;
}
/*----------  Related  ---------------*/
.related {
    margin:0;
    padding:0 0 30px;
    text-align:right;
    position: relative;
    width:100%;
}
.related .image{
    margin:0 0 20px;
    padding:0;
}
.related .box {
    margin:10px 0 0;
    color:#186be5;
    width:145px;
    padding:0;
    position:relative;
    /*	top: 22px;*/
}
.related .box ul{
    margin:5px 13px 0 0;
    padding:0;
    color:black;
}
.related .box h4{
    color:black;
}
.related .box p{
    color:black;
    margin:5px 0 0 0;	
}
.related .box span.gray{
    color:#7b7b7b;
}
.related .box .box-mid{
    padding:0 10px;
    background: white url(/images/hebmain/box-mid.gif) repeat-y top right;
    width:140px;
    margin:-5px 0 0;
}
.related .box .box-top{
    background: white url(/images/hebmain/box-top.gif) no-repeat top right;
    width:159px;
    padding:0;
    margin:0;
}
.related .box .box-bot{
    background: white url(/images/hebmain/box-bot.gif) no-repeat bottom right;
    width:159px;
    padding:0;
    margin:0;
}
.related .box .box-background{
    background-color:#F0F5FD;
}
.related .box .box-mid-no-border{
    padding:0 10px;
    width:140px;
}
.related .box .box-top-no-border{
    width:165px;
    padding:0;
    margin:0;
}
.related .box .box-bot-no-border{
    width:165px;
    padding:0;
    margin:0;
}
/*----------  Navigation  ---------------*/
.nav {
    text-align: center;
    margin:56px 0 0;
    padding:0 0 10px;
    background-color: #F0F4FD;
}
.nav ul.static {
    margin: 15px 15px 0;
    padding:0;
}
.nav ul.static ul{
    margin: 0;
    padding:0;
}
.nav ul.static li {
    text-align: right;
    list-style-position: inside;
    list-style-type:none;
    padding:0 13px 0 0;
    margin:3px 0 0;
    background: transparent url(/images/hebmain/left-arrow.gif) no-repeat right 6px;
    *padding:0;
}
.nav ul.static li li{
    *margin:3px 13px 0 0;
}
.nav ul.static li.final{
    background: transparent url(/images/hebmain/final-arrow.gif) no-repeat right 6px;
}
.nav ul.static li.submenu{
    list-style-type:none;
    background: transparent url(/images/hebmain/down-arrow.gif) no-repeat right 6px;
    font-weight:bold;
}
.nav ul.static ul{
    font-weight:normal;
}
.nav ul.static li.selected{
    font-weight:bold;
}
/*----------  News  ---------------*/

.news {
}
.news .item{
    padding:10px 0 0;
    position:relative;
}
.news .item .border{
    border-bottom:1px dotted #e7e7e7;
    height:15px;
    font-size:1px;
    line-height:1px;
}
.news .item h4{
    margin:0 0 10px;
}
.news .item a, .news .item a:visited{
    margin:10px 0 0;
    display:block;
}
.section_preview .cont{
    position:absolute;
    left:10px;
    font-size:12px;
}
.section_preview a.cont img{
    padding:0pt 5px 0pt 0pt;
    vertical-align:middle;
}
.rss h3 img{
    padding:0 0 0 5px;
    vertical-align:middle;
}
.rss .entry{
    color:#767676;
    margin:0 0 10px 0;
}
.rss .entry .date{
    color:#767676;
    font-size:13px;
}
.rss .more{
    height:27px;
    border-top:1px dashed #bbbbbb;
    display:block;
}
