/***********  BODY  ****************/
#bd .yui-ge{
	margin:0 15px 0 6px;
}
/*----------  breadcrumbs  ---------------*/
#bd .breadcrumbs{
	text-align:right;
	padding:0 10px;
	margin:0 0 25px;
	height:30px;
	line-height:30px;
	border-bottom:1px solid #e8e8e8;
}
#bd .breadcrumbs .gt{
	color:#b5b5b5;
}

/*----------  Content  ---------------*/
.content {
	margin:0 20px 0 22px;
	padding:0;
	text-align:right;
	position: relative;
}
.content h1{
	font-size:22px;
	color:#0D47B2;
	margin:0;
	padding:0;
}
.content h2{
	font-size:16px;
	margin:0 0 30px;
	padding:0;
}
.content h3{
	font-size:16px;
	color:#192862;
	margin-bottom:3px;
}
.content .author{
	height:18px;
	margin: 5px 0;
}
.content .descr{
	font-size:16px;
	color:#696969;
	margin:0;
	padding:0 0 25px;
	border-bottom:1px solid #e8e8e8;
}
.content .item{
	font-size:14px;
	border-top:1px dashed #e8e8e8;
	margin:0 0 25px 0;
	position: relative;
	clear: both;
}
.content .item p{
	margin-bottom:15px;
}
.content .image{
	background-color:#E8E8E9;
	margin:0 0 20px 20px;
	padding: 5px;
	float:right;
}
.content .full-image{
	background-color:#E8E8E9;
	margin:0 auto 10px;
	padding: 5px;
	text-align:center;
}
.content .item h3.video {
	background: transparent url(/images/hebmain/player/top.png) no-repeat top right;
	padding:7px 10px 5px 0;
	margin:1em 0 0;
}
.content .item .full-video {
	background: transparent url(/images/hebmain/player/bg.png) repeat-y top right;
}
.content .item .full-video p{
	padding:10px 10px 15px;
	margin:0;
}
.content .item .full-video .flashplayer span{
	background:transparent url(/play-left.png) no-repeat scroll 0% 50%;
	padding: 21px 3px 0 22px;
}
.content .item .embed{
	background: transparent url(/images/hebmain/player/bottom.png) no-repeat top right;
	padding:10px 8px 5px 20px;
	margin:0;
	text-align:left;
	direction:ltr;
	float:right;
	width:100%;
	height:39px;
}
.content .item .embed span.text{
	font-weight:bold;
	padding:0 5px;
}
.content .item .embed span.services{
	padding: 0 0 0 10px;
}
.content .item .embed span.services img{
	padding: 0 0 0 5px;
	vertical-align:middle;
}
.content .item .embed input{
	width:300px;
	text-align:left;
	border:1px solid #b2c4e4;
}
.content .item .video {
	margin:25px 0 0;
}
.content .item .video img {
	vertical-align: middle;
	padding: 0 0 0 10px;
}
/*----------  More on page  ---------------*/
.content .more {
	margin:0 0 25px 0;
	background-color: #efefef;
	font-size: 93%;
}
.content .more h3{
	padding:10px;
	margin:0;
}
.content .more h4{
	margin:0 0 1em;
}
.content .more .article{
	width:225px;
	padding: 10px 20px 0;
}
.content .more h3, .content .more img, .content .more .article{
	float:right;
}
.content .clear {
	clear: both;
}
/*----------  Comments  ---------------*/
.content .comments h3{
	background-color:#e8e8e9;
	border-bottom:1px solid #dfdfe3;
	height: 35px;
	line-height: 35px;
	padding:0 10px;
	margin:1em 0 0;
}
.content .comments .comment{
	background-color:#f5f6fa;
	border-top:1px solid white;
	border-bottom:1px solid #dfdfe3;
	padding:10px;
}
/*----------  Section Preview  ---------------*/
.section_preview{
  padding:0;
	margin:25px 0 0;
  position:relative;
}
.section_preview .h1{
	color:black;
	text-align:right;
	font-size:126.9%%;
	font-weight:bold;
	margin:0;
	background-color: #e1ecfc;
  background-image: none;
	height:33px;
	line-height:33px;
  position:relative;
  padding: 0 10px 0 0;
}
.section_preview .h1 .h1-right{
	position:absolute;
  top:0;
  right:0;
	height:33px;
}
.section_preview .h1 .h1-left{
	position:absolute;
	height:33px;
  top:0;
  left:0;
}
.section_preview .descr{
  font-size:12px;
  color:black;
  border:0 none;
  padding:0;
}
.section_preview .author{
	height:12px;
	margin: 15px 0;
  font-size:12px;
  color:#696969;
}
.section_preview .element{
  padding: 0 158px 0 20px;
  position:relative;
  border-bottom:1px dashed #e8e8e8;
}
.section_preview .preview-even{
  background-color:#f6f8fb;
}
.section_preview .element h1{
  font-size: 16px;
  padding: 15px 0;
}
.section_preview .img{
  position:absolute;
  right:0px;
  top:15px;
}
.section_preview .footer{
  background-color:#f6f8fb;
  height:35px;
  line-height:35px;
  border-bottom:1px solid #e8e8e8;
  padding:0 0 0 10px;
}
.section_preview .footer img{
  padding:0 5px 0 0;
  vertical-align:middle;
}
/*----------  Main Preview  ---------------*/
.main_preview1{
  padding:0 0 0 250px;
  position:relative;
}
.main_preview1 .descr{
  font-size:14px;
  color:black;
  border:0 none;
  padding:0 0 20px 0;
  border:0 none;
}
.main_preview1 .author{
	height:18px;
	margin: 5px 0;
}
.main_preview1 h1{
  font-size: 18px;
  padding: 10px 0 0;
}
.main_preview1 h2{
  margin: 0 0 10px;
}
.main_preview1 img{
  position:absolute;
  left:0px;
  top:15px;
}
/*----------  Main Preview 2 ---------------*/
.main_preview2{
  background:transparent url(/images/hebmain/main_preview2-bg.gif) repeat-y 50% top;
}
.main_preview2 .element{
  float:left;
  position:relative;
  width:45%;
  padding:176px 0 0;
  margin:0 44px 0 0;
}
.main_preview2 .last{
  margin:0;
}
.main_preview2 .descr{
  font-size:12px;
  color:black;
  border:0 none;
  padding:0 0 20px 0;
  border:0 none;
}
.main_preview2 .author{
	height:12px;
	margin: 15px 0;
  font-size:12px;
  color:#696969;
}
.main_preview2 h1{
  font-size: 18px;
  padding: 27px 0pt 33px;
}
.main_preview2 img{
  width:204px;
  position:absolute;
  left:0px;
  top:15px;
}
/*----------  Main Preview 3 ---------------*/
.main_preview3{
  background:transparent url(/images/hebmain/main_preview3-bg.gif) repeat-y 50% top;
}
.main_preview3 .element{
  float:left;
  position:relative;
  width:30%;
  padding:94px 0 0;
  margin:0 22px 0 0;
}
.main_preview3 .last{
  margin:0;
}
.main_preview3 .descr{
  font-size:12px;
  color:black;
  border:0 none;
  padding:0 0 20px 0;
  border:0 none;
}
.main_preview3 .author{
	height:12px;
	margin: 15px 0;
  font-size:12px;
  color:#696969;
}
.main_preview3 h1{
  font-size: 18px;
  padding: 27px 0pt 20px;
}
.main_preview3 img{
  position:absolute;
  left:0px;
  top:15px;
}
/*----------  Services  ---------------*/
.content div.services{
	border-top:1px dashed #e8e8e8;
	border-bottom:1px dashed #e8e8e8;
	height: 21px;
	background-color:white;
	padding:5px 0 0;
}
.content div.services a{
	margin: 0 0 0 20px;
	display: block;
	float:right;
}
/*----------  Related  ---------------*/
.related {
	margin:0;
	padding:0 0 30px;
	text-align:right;
	position: relative;
  width:100%;
}
.related .image{
	margin:0 0 20px;
	padding:0;
}
.related .image img{
	float:right;
}
.related .box {
	margin:10px 0 0;
	color:#186be5;
	width:145px;
	padding:0;
	position:relative;
/*	top: 22px;*/
}
.related .box ul{
	margin:5px 13px 0 0;
	padding:0;
	color:black;
}
.related .box h4{
	color:black;
}
.related .box p{
	color:black;
	margin:5px 0 0 0;	
}
.related .box span.gray{
	color:#7b7b7b;
}
.related .box .box-mid{
	padding:0 10px;
	background: white url(/images/hebmain/box-mid.gif) repeat-y top right;
	width:140px;
}
.related .box .box-top{
	background: white url(/images/hebmain/box-top.gif) no-repeat top right;
	width:165px;
	padding:0;
	margin:0;
}
.related .box .box-bot{
	background: white url(/images/hebmain/box-bot.gif) no-repeat bottom right;
	width:165px;
	padding:0;
	margin:0;
}
/*----------  Navigation  ---------------*/
.nav {
	text-align: center;
	margin:56px 0 0;
	padding:0 0 10px;
	background-color: #F0F4FD;
}
.nav ul.static {
	margin: 15px 15px 0;
	padding:0;
}
.nav ul.static ul{
	margin: 0;
	padding:0;
}
.nav ul.static li {
	text-align: right;
	list-style-position: inside;
	list-style-type:none;
	padding:0 13px 0 0;
	margin:3px 0 0;
	background: transparent url(/images/hebmain/left-arrow.gif) no-repeat right 6px;
	*padding:0;
}
.nav ul.static li li{
*margin:3px 13px 0 0;
}
.nav ul.static li.final{
	background: transparent url(/images/hebmain/final-arrow.gif) no-repeat right 6px;
}
.nav ul.static li.submenu{
	list-style-type:none;
	background: transparent url(/images/hebmain/down-arrow.gif) no-repeat right 6px;
	font-weight:bold;
}
.nav ul.static ul{
	font-weight:normal;
}
.nav ul.static li.selected{
	font-weight:bold;
}
/*----------  News  ---------------*/

.news {
	border:1px solid #e7e7e7;
	text-align:right;
	margin:10px 0 0;
	padding:0 15px 10px;
        position:relative;
}
.news .item{
	padding:10px 0 0;
        position:relative;
}
.news .item .border{
	border-bottom:1px dotted #e7e7e7;
	height:25px;
	font-size:1px;
	line-height:1px;
}
.news .item h4{
	margin:0 0 10px;
}
.news .item a, .news .item a:visited{
	margin:10px 0 0;
	display:block;
}
/*----------  Index  ---------------*/
.index{
  padding:0;
	margin:25px 0 0;
  position:relative;
  width:500px;
}
.index .h1{
	color:black;
	text-align:right;
	font-size:153.9%;
	font-weight:bold;
	margin:0;
	background-color: #e1ecfc;
  background-image: none;
	height:33px;
	line-height:33px;
  position:relative;
  padding: 0 10px 0 0;
}
.index .h1 .h1-right{
	position:absolute;
  top:0;
  right:0;
}
.index .h1 .h1-left{
	position:absolute;
  top:0;
  left:0;
}
.index .descr{
  font-size:12px;
  color:black;
  border:0 none;
  padding:0;
}
.index .author{
	height:12px;
	margin: 15px 0;
  font-size:12px;
  color:#696969;
}
.index .element{
  padding: 0 158px 12px 20px;
  position:relative;
  border-bottom:1px dashed #e8e8e8;
}
.index .preview-even{
  background-color:#f7f8fc;
}
.index .element h1{
  font-size: 16px;
  padding:2px 0pt 3px;
}
.index .img{
  position:absolute;
  right:0px;
  top:8px;
}
