/***********  BODY  ****************/
#bd{
  background:white url(/images/hebmain/bd-bg.png) repeat-y 0 0;
}
#bd .yui-ge{
  margin:0 15px 0 6px;
}

/*----------  breadcrumbs  ---------------*/
#bd .breadcrumbs{
  text-align:right;
  padding:0 10px;
  margin:0;
  height:30px;
  line-height:30px;
  border-bottom:1px solid #e8e8e8;
  background-color:white;
}
#bd .margin-25{
  height:25px;
  background-color:white;
  width:100%;
}
#bd .menu{
  margin:0 !important;
}
#bd .breadcrumbs .gt{
  color:#b5b5b5;
}

/*----------  Content  ---------------*/
.content {
  margin:0 20px 0 22px;
  padding:0;
  text-align:right;
  position: relative;
  width:504px;
}
.middle .h1{
  background-color: #3864b5;
}
.middle .h1-right{
  background-position:0 -96px;
  right:-1px;
}
.middle .h1-left{
  background-position:0 -64px;
}
.content-header{
  padding-bottom:10px;
  background-color:white;
}

.content h1, .content h1 a{
  font-size:18px;
  font-weight:normal;
  color:#0D47B2;
  margin:0;
  padding:0;
}
.content .h1-left{
  background-position: 0 -128px;
}
.content .h1-right{
  background-position: 0 -160px;
}
.content h2{
  font-size:16px;
  margin:0 0 30px;
  padding:0;
}
.content h3{
  font-size:16px;
  color:#192862;
  margin-bottom:3px;
}
.content .content_preview h2, .content .content_preview h2 a{
    font-size:18px;
    font-weight:normal;
    color:#0D47B2;
    margin:0;
    padding:0;
}


.content .author{
  height:18px;
  margin: 5px 0;
}
.content .descr, .content h6{
  font-size:16px;
  font-weight:normal;
  color:#696969;
  margin:0;
  padding:0;
}
.content .descr{
  border-bottom:1px solid #e8e8e8;
  padding:0 0 15px;
}
.content .item{
  font-size:14px;
  border-bottom:1px dashed #e8e8e8;
  position: relative;
  clear: both;
  width:504px;
  padding:5px 0 0;
}
.content .item p{
  margin-bottom:15px;
}
.content .item strong{
  font-weight:13.5px;
  color:#1F1F1F;
}
.content .item ul, .content .item ol{
  margin-right:30px;
}
.content .item li{
  margin-bottom:3px;
}
.content .image{
  background-color:#E8E8E9;
  margin:0 0 20px 20px;
  padding: 5px;
  float:right;
}
.content .full-image{
  background-color:#E8E8E9;
  margin:0 auto 10px;
  padding: 5px;
  text-align:center;
}
.content .item h3.video {
  background: transparent url(/images/hebmain/player/top.png) no-repeat top right;
  padding:7px 10px 5px 0;
  margin:1em 0 0;
}
.content .item .full-video {
  background: transparent url(/images/hebmain/player/bg.png) repeat-y top right;
  width:504px;
}
.content .item .full-video p{
  padding:10px 10px 15px;
  margin:0;
  background-color: #E8E8E8;
}
.content .item .full-video .flashplayer{
  position:relative;
  cursor:pointer;
  width:504px;
  height:378px;
}

/*****************/

.content .item p.play-list-button {
  cursor:pointer;
  display:block;
  font-size:15px;
  font-weight:bold;
  line-height:15px;
  position:absolute;
  bottom:465px;
  right:180px;
  margin:0;
  padding:0;
}
.content .item p.play-list-button  a{
  text-decoration:none;
}
.content .item p.play-list-button span{
  background:transparent url(/images/hebmain/player/play-left.png) no-repeat scroll 0% 50%;
  padding: 18px 3px 17px 22px;
  display:block;
  color:white;
  float:left;
  filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/hebmain/player/play-left-ie.png');
  *background: 0 none;
}
.content .item p.play-list-button b{
  background:transparent url(/images/hebmain/player/play-right.png) no-repeat scroll 0pt;
  text-indent:-9999px;
  float:left;
  height:50px;
  width:50px;
  filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/hebmain/player/play-right.png');
  *text-indent:0;
  *background: 0 none;
}
/*----------  Video  ---------------*/


.content .item .embed{
  background: transparent url(/images/hebmain/player/bottom.png) no-repeat top right;
  padding:10px 8px 5px 0;
  margin:0;
  float:right;
  height:39px;
  width:504px;
  direction: rtl;
  text-align: right;
}
.content .item .embed span.text{
  font-weight:bold;
  padding:0 5px;
}
.content .item .embed span.services{
  padding: 0 0 0 10px;
}
.content .item .embed span.services img{
  padding: 0 0 0 5px;
  vertical-align:middle;
}
.content .item .embed input{
  width:300px;
  text-align:left;
  border:1px solid #b2c4e4;
}

.content .item .video {
  margin:25px 0 0;
  width:504px;
}
.content .item .video img {
  vertical-align: middle;
  padding: 0 0 0 10px;
}
/*----------  Video gallery  ---------------*/
.item .inner-player{
  background-color:#e9e9e9;
  padding-bottom:8px;
  margin:15px 0;
  zoom:1;
}
.item .inner-player .play-serv{
  height:0px;
  border-bottom:1px solid #BFBFBF;
}
.item .inner-player .playlist{
  border-top:1px solid white;
  height:300px;
  width:503px;
  overflow:auto;
}
.item .inner-player .play-title{
  color:#4b4b4b;
  font-weight:bold;
  padding:7px 10px;
}
.item .inner-player .player-placeholder{
  height:378px;
  width:504px;
  cursor:pointer;
}
.item .inner-player .flashplayer{
  border-bottom:1px dashed white;
}
.item .playlist ul{
  margin:0;
}
.item .playlist ul li{
  list-style-image:none;
  list-style-position:outside;
  list-style-type:none;
  border-bottom:1px dashed #7b7b7b;
}
.item .playlist .odd{
  background-color:#f2f2f2;
}
.item .playlist .playing{
  background-color:#d3e6f3 !important;
}
.item .playlist ul li img{
  width:80px;
  height:60px;
  float:right;
  margin:7px 10px;
}
.item .playlist ul li a.h1-play{
  color:black;
  font-weight:bold;
}
.item .playlist ul li .play-separator{
  color:#b1b1b1;
}
.item .playlist ul li .descr-play{
  margin-top:1ex;
}
/*----------  New audio gallery  ---------------*/
table.audio_gallery{
  border-top:1px solid #D5D5D6;
}
.audio_gallery,
.audio_gallery li{
  margin:0 !important;
  list-style:none;
}
.audio_gallery td {
  line-height: 1.2em;
}
.audio_gallery th, .audio_gallery td {
  border-bottom:1px solid #D5D5D6;
}
.audio_gallery th {
  background-color:#F3F6FE;
  color:#2D5D83;
  font-size:16px;
  padding:10px;
  text-align:right;
}
.audio_gallery tr.one td{
  background-color:white;
}
.audio_gallery tr.two td{
  background-color:#F3F6FE;
}
.audio_gallery .lyrics{
  width:300px;
}
.lyrics td {
  background-color:#F9F7EE;
  border:0 none;
}
.audio_gallery table{
  margin:0 0 -1px !important;
}
.audio_gallery .number{
  border-top:1px solid #D5D5D6;
  max-width:25px;
  min-width:25px;
  padding:10px 5px 10px 0;
  width:25px;
  border-width:1px 0;
}
.audio_gallery .title{
  border-left:1px solid #D5D5D6;
  border-top:1px solid #D5D5D6;
  border-width:1px 0 1px 1px;
  max-width:250px;
  min-width:250px;
  padding:10px 0 10px 10px;
  width:250px;
}
.audio_gallery .artist{
  border-top:1px solid #D5D5D6;
  border-left:1px solid #D5D5D6;
  max-width:99px;
  min-width:99px;
  padding:10px;
  width:99px;
}
.audio_gallery .download{
  border-top:1px solid #D5D5D6;
  border-left:0 none;
  min-width:73px;
  max-width:73px;
  padding:10px;
  width:73px;
}
.audio_gallery .title a, .audio_gallery .title a:hover, .audio_gallery .title a:visited,
.audio_gallery .download a, .audio_gallery .download a:hover, .audio_gallery .download a:visited,
.audio_gallery .lyrics a, .audio_gallery .lyrics a:hover, .audio_gallery .lyrics a:visited {
color:#33ABCE;
text-decoration:underline;
}
.audio_gallery .download a {
background:url("/images/download-arrow.gif") no-repeat scroll right bottom transparent;
padding-right:17px;
}
.audio_gallery .show_words {
background:url("/images/blue-arrow-down.gif") no-repeat scroll right center transparent;
line-height:1.5em;
padding-right:15px;
}
.audio_gallery .hide_words {
background:url("/images/blue-arrow-up.gif") no-repeat scroll right center transparent;
line-height:1.5em;
padding-right:15px;
}
.audio_gallery .audioplayer_container {
padding:20px 0 0;
width:100px;
}
.audio_gallery tr.changed_bg td {
background-color:#F9F7EE !important;
}
.audio_gallery tr.hover td {
background-color:#f5e2b0;
}
/*----------  Audio gallery  ---------------*/
.item .playlist-player{
  background-color:#e9e9e9;
  padding-bottom:8px;
  margin:15px 0;
  width:503px;
  zoom:1;
}
.item .playlist-player .play-serv{
  height:0px;
  border-bottom:1px solid #BFBFBF;
}
.item .playlist-player .playlist{
  border-top:1px solid white;
  height:300px;
  width:503px;
  overflow-x:hidden;
}
.item .playlist-player .play-title{
  color:#4b4b4b;
  font-weight:bold;
  padding:7px 10px;
}
.item .playlist-player .flashplayer{
  border-bottom:1px dashed white;
}
.item .playlist ul{
  margin:0;
}
.item .playlist ul li{
  list-style-image:none;
  list-style-position:outside;
  list-style-type:none;
  border-bottom:1px dashed #7b7b7b;
}
.item .playlist .odd{
  background-color:#f2f2f2;
}
.item .playlist .playing{
  background-color:#d3e6f3 !important;
}
.item .playlist ul li a.h1-play{
  color:black;
  font-weight:bold;
  display:block;
  padding:0 5px;
  width:493px;
}
.item .playlist ul li .play-separator{
  color:#b1b1b1;
}
.item .playlist ul li .descr-play{
  margin-top:1ex;
}

.item .table-no-border{
  border-width: 0px;
}

.item .table-no-border td, .item .table-no-border th {
  border-width: 0px;
  padding-left: 20px;
  vertical-align: top;
}

/*----------  More on page  ---------------*/
.content .more {
  margin:15px 0 10px;
  font-size: 93%;
}
.content .more h3{
  padding:10px;
  margin:0;
}
.content .more h4{
  margin:0 0 1em;
}
.content .more .article{
  width:225px;
  padding: 10px 20px 0;
}
.content .clear {
  clear: both;
}
/*----------  Comments  ---------------*/
.content .comments h3{
  background-color:#e8e8e9;
  border-bottom:1px solid #dfdfe3;
  height: 35px;
  line-height: 35px;
  padding:0 10px;
  margin:1em 0 0;
}
.content .comments .comment{
  background-color:#f5f6fa;
  border-top:1px solid white;
  border-bottom:1px solid #dfdfe3;
  padding:10px;
}
/*----------  Services  ---------------*/
.content div.services{
  border-top:1px dashed #e8e8e8;
  border-bottom:1px dashed #e8e8e8;
  height: 21px;
  background-color:white;
  padding:5px 0 0;
}
.content div.services a{
  margin: 0 0 0 20px;
  display: block;
  float:right;
}
/*----------  Related  ---------------*/
.related {
  margin:0;
  padding:0 0 30px;
  text-align:right;
  position: relative;
  width:100%;
}
.related .image{
  margin:0 0 20px;
  padding:0;
}
.related .box {
  margin:10px 0 0;
  color:#186be5;
  width:145px;
  padding:0;
  position:relative;
  /*	top: 22px;*/
}
.related .box ul{
  margin:5px 13px 0 0;
  padding:0;
  color:black;
}
.related .box h3{
  margin: 0;
  color:black;
}
.related .box p{
  color:black;
  margin:5px 0 0 0;
}
.related .box span.gray{
  color:#7b7b7b;
}
.related .box .box-mid{
  padding:0 10px;
  background: white url(/images/hebmain/box-mid.gif) repeat-y top right;
  width:140px;
  margin:-5px 0 0;
}
.related .box .box-top{
  background: white url(/images/hebmain/box-top.gif) no-repeat top right;
  width:159px;
  padding:0;
  margin:0;
}
.related .box .box-bot{
  background: white url(/images/hebmain/box-bot.gif) no-repeat bottom right;
  width:159px;
  padding:0;
  margin:0;
}
.related .box .box-background{
  background-color:#F0F5FD;
}
.related .box .box-mid-no-border{
  padding:0 10px;
  width:140px;
}
.related .box .box-top-no-border{
  width:165px;
  padding:0;
  margin:0;
}
.related .box .box-bot-no-border{
  width:165px;
  padding:0;
  margin:0;
}
.related .box .flash-only{
  margin-top:-52px;
  position:relative;
}
/*----------  Navigation  ---------------*/
.nav {
  text-align: center;
  margin:56px 0 0;
  padding:0 0 10px;
  background-color: #F0F4FD;
}
.nav ul.static {
  margin: 15px 15px 0;
  padding:0;
}
.nav ul.static ul{
  margin: 0;
  padding:0;
}
.nav ul.static li {
  text-align: right;
  list-style-position: inside;
  list-style-type:none;
  padding:0 13px 0 0;
  margin:3px 0 0;
  background: transparent url(/images/hebmain/left-arrow.gif) no-repeat right 6px;
  *padding:0;
}
.nav ul.static li li{
  *margin:3px 13px 0 0;
}
.nav ul.static li.final{
  background: transparent url(/images/hebmain/final-arrow.gif) no-repeat right 6px;
}
.nav ul.static li.submenu{
  list-style-type:none;
  background: transparent url(/images/hebmain/down-arrow.gif) no-repeat right 6px;
  font-weight:bold;
}
.nav ul.static ul{
  font-weight:normal;
}
.nav ul.static li.selected{
  font-weight:bold;
}
/*----------  News  ---------------*/

.news {
}
.news .item{
  padding:10px 0 0;
  position:relative;
}
.news .item .border{
  border-bottom:1px dotted #e7e7e7;
  height:15px;
  font-size:1px;
  line-height:1px;
}
.news .item h4{
  margin:0 0 10px;
}
.news .item a, .news .item a:visited{
  margin:10px 0 0;
  display:block;
}
.section_preview .cont{
  position:absolute;
  left:10px;
  font-size:12px;
}
.section_preview a.cont img{
  padding:0pt 5px 0pt 0pt;
  vertical-align:middle;
}
.rss h3 img{
  padding:0 0 0 5px;
  vertical-align:middle;
}
.rss .entry{
  margin:0 0 10px 0;
}
.rss .entry .date{
  color:#767676;
  font-size:13px;
}
.rss .more{
  height:27px;
  border-top:1px dashed #bbbbbb;
  display:block;
}
/*----------  iframe  ---------------*/
.iframe_no_border {
    border:0 none;
}
/*----------  popup  ---------------*/
.highslide-html label {
    line-height: 14pt;
    margin-bottom: 10px;
    display: block;
}
.highslide-html label input {
    float: left;
    width: 300px;
    margin-left: 20px;
    direction: rtl;
}
.highslide-html #action {
    margin-left: 5px;
    margin-bottom: 10px;
}
.highslide-html input.button {
    padding: 5px 10px;
    float: left;
    margin-left: 25px;
    margin-top: 10px;
}
.highslide-html .clb {
    clear: both;
}
.highslide-html .text {
    clear: both;
    text-align: right;
    margin-left: 25px;
    padding-top: 10px;
}
.highslide-html .alert {
    color: red;
    font-weight: bold;
    font-size: 14px;
}
.highslide-html p {
    direction: rtl;
}
.highslide-html textarea {
    width: 370px;
    float: right;
    margin: 0;
    padding: 2px;
    height: 5em;
    direction: rtl;
}
.highslide-center {
    text-align: center;
}
.highslide-html-content div {
    direction: rtl;
}
.highslide-button {
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background-color: #ffffff;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#e9e9e9)); /* Chrome, Safari 4+ */
    background-image: -webkit-linear-gradient(top, #ffffff, #e9e9e9); /* Chrome 10-25, iOS 5+, Safari 5.1+ */
    background-image:    -moz-linear-gradient(top, #ffffff, #e9e9e9); /* Firefox 3.6-15 */
    background-image:      -o-linear-gradient(top, #ffffff, #e9e9e9); /* Opera 11.10-12.00 */
    background-image:         linear-gradient(to bottom, #ffffff, #e9e9e9); /* Chrome 26, Firefox 16+, IE 10+, Opera 12.50+ */
    border: 1px solid #cacaca;
    margin-bottom: 5px;
    padding-bottom: 2px;
    padding-top: 2px;
}
.notice {
    text-align: right;
    color: #468847;
    background: #dff0d8;
    padding: 10px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
#agree {
    margin-left: 7px;
    float: right;
    margin-top: 3px;
}