/*@media print {*/

/* common */
.container .entries{
    display:none;
}
h3.box_header {
    display:none;
}

/* widget */
.newsletter{
    display:none;
}
.sitemap {
    display:none;    
}

/* header */
#hd{
    display:none;
}
#bd .menu {
    display:none;
}
#ft ul.links {
    display:none;
}
.x-tree-node-icon {
    display:none;
}
#hd-r .logo {
    position: absolute;
    top:-15px;
    right:10px;
}

/* inner_page */
#bd{
    background:none;
}
#bd .breadcrumbs{
    display:none;
}
.nav {
    display:none;    
}
.news {
    display:none;    
}
.middle .h1{
    display:none;
}
.related {
    display:none; 
}
.content {
    margin:85px 0 0;
    padding:0px;
    text-align:right;
    position: relative;
    width:80%;
}
.content .item{
    font-size:14px;
    border-bottom:1px dashed #e8e8e8;
    position: relative;
    clear: both;
    width:100%;
    padding:5px 0 0;
}
#doc, #doc2, #doc3, #doc4, .yui-t1, .yui-t2, .yui-t3, .yui-t4, .yui-t5, .yui-t6, .yui-t7 {
    margin:0;
    min-width:750px;
    text-align:left;
    width:57.69em;
}
.yui-t4 #yui-main .yui-b{
    margin:0 !important;
}
.yui-ge div.first,.yui-gf .yui-u{
    width:100%;
}
.yui-g div.first, .yui-gb div.first, .yui-gc div.first, .yui-gd div.first, .yui-ge div.first, .yui-gf div.first, .yui-g .yui-gc div.first, .yui-g .yui-ge div.first, .yui-gc div.first div.first {
    float:right;
}