<%= rp_error_messages_for :resource %>
<%= rp_error_messages_for :tree_node %>

<div id="properties">
  <%#*rp_string_properties, :class_name => 'RpString%>
  <% @resource.get_resource_properties.each do |property|%>
    <% klass = "#{property.class.to_s.underscore}_properties".to_sym %>
    <% f.fields_for klass, property do |p|%>
      <%= render "property", :f => p %>
    <% end %>
  <% end %>
</div>