<table border="1">
	<thead>
		<tr>
			<th>ID</th>
			<th>Name</th>
			<th>Resource type</th>
			<th colspan="3">Actions</th>
		</tr>
	</thead>
	<%= render :partial => 'resource', :collection => resources %>
</table>