<% name = @resource.resource_type.name %>
<% @title = "Editing #{name}" %>

<% cms_form_for(:resource, :url => admin_resource_path(@resource), :html => {:method => 'put', :multipart => true}) do |f| %>
		<%= render :partial => 'fields', :locals => {:f => f} %>
		<p id="submit"><%= submit_tag "Update #{name}" %></p>
<% end %>

<%= link_to 'Cancel', session[:referer] %>