<p>
  <b>Name:</b>
  <%=h @resource.name rescue '' %>
</p>

<p>
  <b>Resource type:</b>
  <%=h @resource.resource_type_id %>
</p>


<%= link_to 'Edit', edit_admin_resource_path(@resource) %> |
<%= link_to 'OK', admin_resources_path %>
