<div class="mceTmpl">
    <table class="table-article-free" cellpadding="0" cellspacing="0">
        <tr class="table-top-tr">
            <td class="ear-top-right">&nbsp;</td>
            <td class="table-article-td-top-middle">&nbsp;</td>
            <td class="ear-top-left">&nbsp;</td>
        </tr>
        <tr class="table-title-tr">
            <td class="table-article-td-right-middle">&nbsp;</td>
            <td class="table-article-title">ADD TITLE</td>
            <td class="table-article-td-left-middle">&nbsp;</td>
        </tr>
        <tr class="table-middle-tr">
            <td class="table-article-td-right-middle">&nbsp;</td>
            <td class="table-article-td">&nbsp;</td>
            <td class="table-article-td-left-middle">&nbsp;</td>
        </tr>
        <tr class="table-body-tr">
            <td class="table-article-td-right-middle">&nbsp;</td>
            <td class="table-article-body">ADD QUOTE</td>
            <td class="table-article-td-left-middle">&nbsp;</td>
        </tr>
        <tr class="table-bottom-tr">
            <td class="ear-bottom-right">&nbsp;</td>
            <td class="table-article-td-bottom-middle">&nbsp;</td>
            <td class="ear-bottom-left">&nbsp;</td>
        </tr>
    </table>
</div>

