<!--
<div class="mceTmpl">
    <div class="quote"> 
        <div class="quote-top">
            <div class="quote-tl">&nbsp;</div>
            <div class="quote-tr">&nbsp;</div>
        </div>
        <div class="quote-mid">
            <div class="quote-ml">&nbsp;</div>
            <div class="quote-content">
                <div class="title">Add Title</div>
                <div class="separator">&nbsp;</div>
                <div>Add Quote</div>
            </div>
            <div class="quote-mr">&nbsp;</div>
        </div>
        <div class="quote-bot">
            <div class="quote-bl">&nbsp;</div>
            <div class="quote-br">&nbsp;</div>
        </div>
    </div>
</div>
-->

<div class="mceTmpl">
    <table class="table-article">
        <tr>
            <td class="ear-top-right">&nbsp;</td>
            <td class="table-article-td-top-middle">&nbsp;</td>
            <td class="ear-top-left">&nbsp;<br /></td>
        </tr>
        <tr>
            <td class="table-article-td-right-middle">&nbsp;</td>
            <td class="table-article-title">ADD TITLE</td>
            <td class="table-article-td-left-middle">&nbsp;</td>
        </tr>
        <tr>
            <td class="table-article-td-right-middle">&nbsp;</td>
            <td class="table-article-td">&nbsp;</td>
            <td class="table-article-td-left-middle">&nbsp;</td>
        </tr>
        <tr>
            <td class="table-article-td-right-middle">&nbsp;</td>
            <td class="table-article-body">ADD QUOTE</td>
            <td class="table-article-td-left-middle">&nbsp;</td>
        </tr>
        <tr>
            <td class="ear-bottom-right">&nbsp;</td>
            <td class="table-article-td-bottom-middle">&nbsp;</td>
            <td class="ear-bottom-left">&nbsp;</td>
        </tr>
    </table>
</div>

