<%= error_messages_for 'tree_node' %>

<!--[form:tree_node]-->
<p><label for="tree_node_tn_order">Tn order</label><br/>
<%= text_field 'tree_node', 'tn_order'  %></p>

<p><label for="tree_node_mask">Mask</label><br/>
<select id="tree_node_mask" name="tree_node[mask]"><option value="false">False</option><option value="true" selected>True</option></select></p>
<!--[eoform:tree_node]-->

