/* ligdoltv */
html#ligdoltv {
    background: transparent url(/images/ligdoltv/body-bg.png) repeat-x 0 0;
}
#ligdoltv body {
    margin: -13px 0 0 !important;
    background: transparent;
    min-height: 500px;
}
.h1, .nav {
  -webkit-border-radius: 8px 8px 0 0; /* Saf3-4, iOS 1-3.2, Android <1.6 */
     -moz-border-radius: 8px 8px 0 0; /* FF1-3.6 */
          border-radius: 8px 8px 0 0; /* Opera 10.5, IE9, Saf5, Chrome, FF4, iOS 4, Android 2.1+ */

  /* useful if you don't want a bg color from leaking outside the border: */
  -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box;
}
.h1 .h1-left, .h1 .h1-right{
    display: none;
}

.nav {
    margin: 57px 0 0;
}
#bd {
    background-image: none;
    background-color: transparent;
}
#bd .menu .first, #bd .menu .last {
    display:none;
}
#bd .menu {
    background-color: transparent;
    background-image: none;
    border: 1px solid #848484;
    
  -webkit-border-radius: 4px; /* Saf3-4, iOS 1-3.2, Android <1.6 */
     -moz-border-radius: 4px; /* FF1-3.6 */
          border-radius: 4px; /* Opera 10.5, IE9, Saf5, Chrome, FF4, iOS 4, Android 2.1+ */

  /* useful if you don't want a bg color from leaking outside the border: */
  -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box;
}
#ligdoltv #bd .margin-25{
    background-color: transparent;
}
#ligdoltv .breadcrumbs {
    background-color: transparent;
    border-bottom: 1px solid #a4a4a4;
}
#ligdoltv .breadcrumbs .gt{
    color: #a4a4a4;
}
#ligdoltv #bg_wrap {
    height: 476px;
    width: 100%;
    position: absolute;
    background: #73aaea; /* Old browsers */
    background: -moz-linear-gradient(top, #73aaea 0%, #ffffff 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#73aaea), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #73aaea 0%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #73aaea 0%,#ffffff 100%); /* Opera11.10+ */
    background: -ms-linear-gradient(top, #73aaea 0%,#ffffff 100%); /* IE10+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#73aaea', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
    background: linear-gradient(top, #73aaea 0%,#ffffff 100%); /* W3C */
}
#ligdoltv #header {
    height: 210px;
    position: relative;
    margin:0 0 0 7px;
}
#ligdoltv #header #logo{
    position: absolute;
    right: 0;
    width: 208px;
    height: 139px;
    top: 25px;
    z-index: 100;
}
#ligdoltv #star{
    position: absolute;
    right: -170px;
    z-index: 0;
    width: 716px;
    height: 330px;
}
#ligdoltv #header #logo-image{
    position: absolute;
    left: 0;
    top: 0;
}
#ligdoltv #ligdoltv .margin-25{
    height: 5px;
}
#ligdoltv .content-header {
    background-color: transparent;
}
/*----------  Menu  ---------------*/
#ligdoltv .ltv-menu {
    position:absolute;
    width:100%;
    margin: 0;
    bottom: 0;
}
#ligdoltv .upper_menu{
    font-size: 16px;
}
#ligdoltv .bottom_menu{
    font-size: 14px;
    height: 32px;
}
#ligdoltv .ltv-menu a {
    color:black;
}

#ligdoltv .ltv-menu ul {
    display: block;
    width:100%;
    height:23px;
    padding: 0 3px;
    margin: 0;
}
#ligdoltv .ltv-menu ul li {
    float: right;
    list-style-type: none;
    list-style-position: inside;
    background-color: #cccccc;
    padding: 2px 0;
/*For ie8*/
    padding: 2px 3px\9;
/*For ie6-7*/
    *padding: 2px 3px;
    margin:0 -2px;
    text-align:center;
}
#ligdoltv .ltv-menu ul li.divider{
    color:#838383;
    margin: 0;
    padding: 0 5px;
    width:3px;
}
