<%= rp_error_messages_for :resource, :header_only => true %>

	<p><%= f.hidden_field(:resource_type_id) %></p>

<div id="properties">
	<% @resource_type.resource_type_properties.each_with_index do |rt_property, index| %>
		<% property = @resource.get_resource_property_by_resource_type_property(rt_property) %>
        <%= render :partial => "property",
                  :locals => {:property => property,
                              :data_type => rt_property.data_type,
                              :index => index}
        %>
	<% end %>
</div>