<% name = @resource.resource_type.name %>
<% @title = "Editing #{name}" %>

<% form_for(:resource, :url => resource_path(@resource), :html => {:method => 'put'}) do |f| %>
	<p>
		<%= render :partial => 'fields', :locals => {:f => f} %>
		<span id="submit"><%= submit_tag "Update #{name}" %></span>
	</p>
<% end %>

<%= link_to 'Show', resource_path(@resource) %> |
<%= link_to 'Back', resources_path %>