<% @title = "New resource" %>
<% cms_form_for(:resource, :url => resources_path, :html => {:multipart => true}) do |f| %>
	<%= render :partial => 'fields', :locals => {:f => f} %>
	<div id="submit"><%= submit_tag "Create resource" %></div>
<% end %>
<%= link_to 'Cancel', resources_path %>