<span id="add_free_label">
<%= link_to_remote 'Add Another label', :url => add_label_items_url(:index => index), 
                                        :method => :get,
                                        :submit => "new_label" %>
</span>