<div id="label_<%= index %>">
    <% fields_for "labels[#{index}]", label do |f| %>
    <p>
        <%= f.hidden_field :id%>
        <%= f.hidden_field :label_type_id%>
        <label for="<%= "labels[#{index}]_datevalue"%>"><%= label.label_type.name%>:</label><%= f.date_select :datevalue, :order=> [:day, :month, :year] %>
        <%#= link_to_remote 'remove', :url => { :action => 'remove_label', :index => index } %>
    </p>
    <% end %>
</div>
