<div id="label_<%= index %>">
    <% fields_for "labels[#{index}]", label do |f| %>
    <p>
        <%= f.text_field :value %>
        <%#= link_to_remote 'remove', :url => { :action => 'remove_label', :index => index } %>
    </p>
    <% end %>
</div>
