<% fields_for :label do |label_fields| %>

  <%= label_fields.hidden_field :type%>
  <label for="label_value">Name:</label>
  <%= label_fields.text_field :value %><br />
  <label for="label_value">hrid:</label>
  <%= label_fields.text_field :hrid%><br />

<% end %>
