<h1>Editing <%= @item.name%> object</h1>

<%= render :partial => "#{@item.class.to_s.underscore}_form",
  :locals => {
    :path => item_path(@item),
    :method => :put,
    :button_text => 'Update'
  } %>

<%= link_to 'Cancel', items_path %>