<h1>New <%= @item.object_type.label.hrid%> [<%= @item[:type]%>]</h1>
<%= render :partial => "#{@item.class.to_s.underscore}_form",
  :locals => {
    :path => items_path,
    :method => :post,
    :button_text => 'Create'
  } %>

<%= link_to 'Cancel', items_path %>