<h1>Editing label_desc</h1>

<% form_tag :action => 'update', :id => @label_desc do %>
  <%= render :partial => 'form' %>
  <%= submit_tag 'Edit' %>
<% end %>

<%= link_to 'Show', :action => 'show', :id => @label_desc %> |
<%= link_to 'Back', :action => 'list' %>
