<%= error_messages_for :group %>

<% form_for(:group, :url => path, :html => {:method => method}) do |f| %>
  <p>
    <b>Group name</b><br />
    <%= f.text_field :groupname %>
  </p>

  <p>
    <b>Banned reason</b><br />
    <%= f.text_area :banned_reason, :cols => 40, :rows => 6 %>
  </p>

  <p>
    <%= f.submit button_text %>
  </p>
<% end %>
