<% @title = "Group" %>
<p>
  <b>Group name:</b>
  <%=h @group.groupname %>
</p>

<p>
  <b>Banned reason:</b>
  <%=h @group.reason_of_ban %>
</p>


<%= link_to 'Edit', edit_admin_group_path(@group) %> |
<%= link_to 'Back', admin_groups_path %>
