<% @title = "New property" %>

<%= render :partial => 'form',
    :locals => {
    :path => admin_properties_path,
    :method => :post,
    :button_text => 'Create'
  } %>

<%= link_to 'Cancel', admin_properties_path %>