<p>
  <b>Name:</b>
  <%=h @property.name %>
</p>

<p>
  <b>Field type:</b>
  <%=h @property.field_type %>
</p>

<p>
  <b>Pattern (RegExp):</b>
  <%=h @property.pattern %>
</p>

<p>
  <b>Geometry:</b>
  <%=h @property.geometry %>
</p>


<%= link_to 'Edit', edit_admin_property_path(@property) %> |
<%= link_to 'OK', admin_properties_path %>