<%= error_messages_for 'label_type_desc' %>

<!--[form:label_type_desc]-->
<p><label for="label_type_desc_value">Value</label><br/>
<%= text_field 'label_type_desc', 'value'  %></p>
<!--[eoform:label_type_desc]-->

