<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html;charset=utf-8" />
    <meta http-equiv="Content-language" content="utf8" /> 
    <title><%= @title %></title>
    <%= javascript_include_tag :defaults, 'lowpro' %>
    <%#= javascript_include_tiny_mce %>
    <%#= javascript_include_tag 'tiny_mce' %>
    <%#= tiny_mce %>
    <%= calendar_date_select_includes nil %>
    <%= stylesheet_link_tag 'reset-fonts-grids' %>
    <%= stylesheet_link_tag 'admin' %>
    <%= yield :header %>
  </head>
  <body>
    <div id="doc3" class="yui-t2">
      <div id="hd">
        <%= link_to(image_tag("/images/cms_logo_small.gif"), '/') %>
        <h1><%= @title %></h1>
        <% if flash[:notice] %>
        <p class="notice"><%= flash[:notice] %></p>
        <% end %>
      </div>
      <div id="bd">
        <div id="yui-main">
          <div class="yui-b"><div class="yui-g">
              <%= yield :submenu %>
              <div id="content">
                <%= yield %>
              </div>
              
            </div>
          </div>
        </div>
        <div class="yui-b">
          <div id="menu">
            <h2 class="menu">Main Menu</h2>
            <ul>
              <li><%= link_to 'Websites', admin_websites_path %></li>	 
              <li><%= link_to 'Resources', admin_resources_path %></li>	 
              <li><%= link_to 'Resource Types', admin_resource_types_path %></li>	 
              <li><%= link_to 'Lists', admin_lists_path %></li>	 
              <li><%= link_to 'Tree Nodes', ext_admin_tree_nodes_path %></li>
              <li><%= link_to 'Old Tree Nodes', admin_tree_nodes_path %></li>
            </ul>
            <br />
            <ul>
              <li><%= link_to "Url Migrations", admin_url_migrations_path %></li>
			  <li><%= link_to 'Url Migrations Import', admin_url_migration_path("import") %></li>
			  <li><%= link_to 'Url Migrations Export', admin_url_migration_path("export") %></li>
			  <li><%= link_to 'Url Migrations Merge', admin_url_migration_path("merge") %></li>
			  <li><%= link_to 'Url Migrations Cleanup', admin_url_migration_path("cleanup"), :confirm => 'Are you sure do you want to delete all URL Migrations?' %></li>
            </ul>
            <br />
            <ul>
              <li><%= link_to 'Users', admin_users_path %></li>
              <li><%= link_to 'Groups', admin_groups_path %></li>
              <li><%= link_to 'Tree nodes access', admin_tree_node_ac_rights_path %></li>
            </ul>
            <br />
            <ul>
              <li><%= link_to "Logout", :controller => 'login', :action => 'logout' %></li>
            </ul>
         
          </div>
          
        </div>
        
      </div>
      <div id="ft"></div>
    </div>
  </body>
</html>